.user {
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
  }
  h3 {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff5a;
  }
  span {
    cursor: pointer;
    color: #ffffff;
  }
  span:hover,
  span:active {
    color: #00ddff;
  }
}
